body{
    text-align: center;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
h2{
   font-weight: 600; 
   text-align: center;
}
.btn{
    height: 150px;
    width: 150px;
    border-radius: 20%;
    border: 10px solid black;

}
.btn:hover{
    cursor: pointer;
}
.btn-container{
    display: flex;
    height: 360px;
    width: 360px;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: space-between;
    margin: 1.5rem;
    align-content: space-between;
    
}
.primary{
    background-color: cadetblue;
}
.success{
    background-color: aquamarine;

}
.danger{
    background-color: crimson;
}
.warning{
    background-color: chocolate;
}

.flash{
    background-color: white;
}
.userFlash{
    background-color: rgb(39, 232, 75);
}
.over{
    background-color: rgb(255, 0, 0);
}
#High{
    
    width: 100%;
    text-align: left;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 800;
}
.cntrl{
    margin: 1rem;
    margin-left: 2rem;
    transform: scale(1.5);
    border-radius: 20%;
    border: 2px solid black;
    box-shadow: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    
}
.cntrl:hover{
    cursor: pointer;
    transform: scale(1.55);
    box-shadow:  1px 2px 2px black;
}

#reset{
    background-color: burlywood;


}
#start{
    background-color: rgb(20, 193, 241);

}
@media (max-width:1000px) {
    #High{
        font-weight: 600;
        font-size:1.5rem;
        text-align: center;
        
    }

}
@media (max-width:500px){
    .btn{
        transform: scale(0.8);
    }
    
}